<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Registration</title>

</head>
<body>

<div class="container">
    <h2>Registration</h2>
    <form th:action="@{/registration}" method="post" th:object="${user}">
        <p>Login: <input type="text" th:field="*{login}"/></p>
        <p>Password: <input type="password" th:field="*{password}"/></p>
        <p>Email: <input type="email" th:field="*{email}"/></p>
        <p>Firstname: <input type="text" th:field="*{firstName}"/></p>
        <p>Lastname: <input type="text" th:field="*{lastName}"/></p>
        <p>Data of birth: <input type="date" th:field="*{dateOfBirth}"></p>
        <p>Adress: <input type="text" th:field="*{address}"/></p>
        <p>Telefon: <input type="tel" th:field="*{phoneNumber}"/></p>
        <p><label for="gender">Gender
            <select id=gender th:field="*{gender}">
                <option th:value="FEMALE">female</option>
                <option th:value="MALE">male</option>
            </select></label><br></p>
        <div><input type="submit" value="Sign In"/></div>
    </form>
</div>
</body>
</html>